:root {
  --footer-light-text: rgb(252, 252, 252);
  --footer-gray-text: rgb(151, 151, 151);
  --footer-dark-text: rgb(70, 70, 70);

  --footer-gray-border: rgb(238, 238, 238);

  --footer-light-bg: rgb(255, 255, 255);
  --footer-gray-bg: rgb(238, 238, 238);
  --footer-dark-bg: rgb(117, 117, 117);
  --footer-light-bg: #ffffff;

  --footer-hover-text: darkslategray;
  --footer-hover-light: rgb(96, 170, 26);
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

.navigation-bar {
  display: inline-flex;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 20px 0;
  text-align: left;
  align-items: center;
}

.nav-links {
  max-width: max-content;
  margin: auto;
  width: 100%;
}

.right-align {
  margin-right: 2%;
}
.nav-link {
  display: inline-flex;
  padding: 0.7rem 0px;
  border-radius: 0.2rem;
  background-color: white;
  cursor: pointer;
}

.nav-link > a {
  text-decoration: none;
  color: rgb(54, 54, 54);
  font-family: Arial;
  position: relative;
  left: 5px;
  transition: 0.5s;
  margin: 0px 15px;
}
.nav-logo {
  position: inherit;
  margin-left: 2rem;
  margin-right: 4rem;
  font-family: Geometr212 BkCn BT;
  font-size: 2.3rem;
}

.nav-link a::after {
  opacity: 0;
  content: "»";
  color: var(--footer-hover-text);
  margin-left: 5px;
  position: relative;
  left: 20px;
  transition: 0.5s;
}

.nav-link:hover {
  background-color: whitesmoke;
  color: white;
}

.nav-link:hover a {
  color: var(--footer-hover-text);
  left: 0px;
  transition: 0.5s;
}

.nav-link:hover a::after {
  opacity: 1;
  left: 0px;
}

.nav-link:active {
  background-color: var(--footer-hover-text);
}

.nav-link:active a {
  color: white;
}

.nav-link:active a::after {
  color: white;
}
.reservation {
  background-color: var(--footer-hover-text);
  color: white;
}
.reservation a {
  color: white;
}
#logo {
  border: 1px solid var(--footer-hover-text);
  padding: 0 0 0 0.5rem;
  color: var(--footer-hover-text);
  margin-left: 4%;
}

#max {
  background-color: var(--footer-hover-text);
  padding: 0.2rem 1rem;
  color: white;

}
#logo:hover {
  background-color: var(--footer-hover-text);
  
  color: white;
  margin-left: 4%;
  padding: 0 0 0 1rem;
  cursor: pointer;
}
#logo:hover #max {
  border: 1px solid var(--footer-hover-text);
  background-color: var(--footer-light-bg);
  padding: 0 0 0 0.5rem;
  color: var(--footer-hover-text);
}

.section--hidden {
  opacity: 0;
  transform: translateY(20rem);
}

/* dots */
.dots {
  margin: auto;
  justify-content: center;
  position: sticky;
  display: flex;
  justify-content:safe;
}

.dots__dot {
  border: none;
  background-color:rgb(207, 207, 207);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  cursor: pointer;
  
}

.dots__dot:last-child {
  margin: 0;
}


.dots__dot--active {
  background-color:var(--footer-hover-text);
  opacity: 1;
  border-radius: 10px;
  width: 3rem;
}
/* header */
.header__title {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0 0 2rem 0;
  display: inline-flex;
  width: 100%;
  position: relative;
}
.slide {
  position: absolute;
  display: flex;
  transition: 1s ease-in-out;
}
.header-dots-container {
  margin: auto;
  justify-content: center;
  position: sticky;
  display: flex;
  margin-top: 40%;
}

.header__img {
  height: 85%;
  width: max-content;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}
.header-title-description {
  height: max-content;
  width: 40rem;
  position: absolute;
  top: 20rem;
  left: 5rem;
}
.description-title {
  font-family: Geometr212 BkCn BT;
  color: var(--footer-hover-text);
  font-size: 3rem;
}
.description-title > span {
  background-color: var(--footer-hover-text);
  padding: 0.2rem 1rem;
  color: rgb(247, 160, 0);
  border-radius: 0.3rem;
  display: block;
  width: max-content;
}
.header-title-description > p {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--footer-hover-text);
  width: 40rem;
}

.btn--text {
  padding: 1rem;
  background-color: var(--footer-hover-text);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  border-radius: 0.2rem;
  margin-top: 1.5rem;
}
.btn--text:hover {
  background-color: rgb(228, 228, 228);
  color: var(--footer-hover-text);
  cursor: pointer;
}
.btn--text > span {
  padding: 0 0.3rem;
}

.btn--text:active {
  background-color: var(--footer-hover-text);
  color: white;
  transform: scale(0.95);
  transition: 0.2s ease-in-out;
}
.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 20;
  border-bottom: 1px solid var(--footer-gray-border);
}
.center-align.middle {
  margin-left: 35%;
}

/* footer  */
.footer-container {
  height: max-content;
  width: 100%;
  overflow: hidden;
}
.footer-details-container {
  width: 100%;
  height: max-content;
  display: flex;
  position: absolute;
  grid-template-columns: repeat(3, 1fr);
}
.footer-detail {
  width: 20%;
  height: max-content;
  margin: auto;
  display: inline-block;
  padding: 1rem 2rem 0 2rem;
}

.footer-detail-part1-title {
  background-color: var(--footer-dark-bg);
  border: var(--footer-dark-bg) 1px solid;
  color: var(--footer-light-text);
  font-family: Geometr212 BkCn BT;
  font-size: 2.3rem;
  width: max-content;
  margin: auto;
}
#footer-max {
  background-color: var(--footer-light-bg);
  color: var(--footer-gray-text);
}
.footer-detali-part1-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--footer-gray-text);
  font-size: 0.81rem;
  margin: 1rem;
}
.social-media-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.social-media {
  width: max-content;
  padding: 0.91rem;
  background-color: var(--footer-hover-text);
  margin: auto;
  border-radius: 5%;
  cursor: pointer;
}
.social-media:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
  background-color: var(--footer-hover-light);
}
.social-media:active {
  transform: scale(0.96);
  transition: 0.1s ease-in-out;
}
.social-media > img {
  width: 1rem;
  height: fit-content;
}
.contact-info {
  font-size: 0.81rem;
}
.footer-detail-part2-title {
  color: rgb(0, 26, 15);
  font-size: 1.5rem;
}
.contact-info > p {
  color: var(--footer-gray-text);
  margin: 5px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.open-hourse {
  font-size: 0.81rem;
  text-justify: auto;
}
.open-hourse > p {
  color: var(--footer-gray-text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--footer-gray-text);
  margin: 5px 0;
}
.footer-detail-part3-title {
  font-size: 1.5rem;
}

/* delivery animation */
.footer-delivery-animation {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.delivery-boy {
  height: 5rem;
  width: 7rem;
  position: sticky;
  top: 28rem;
  transition: 10s ease-in-out;
}
.footer-ground {
  width: 100%;
  border-bottom: 5px solid var(--footer-gray-border);
}
.footer-navigation {
  padding: 2rem 3rem;
  background-color: var(--footer-light-bg);
  width: 100%;
  border-top: 2rem solid var(--footer-gray-bg);
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer__item {
  margin-right: 4rem;
}
.footer__item:hover {
  transform: scale(1.1);
  transition: 1s ease-in-out;
}

.footer__link {
  color: var(--footer-gray-text);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}
.footer__link:hover {
  color: var(--footer-hover-text);
}

.footer__logo {
  height: max-content;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: var(--footer-hover-text);
  background-color: var(--footer-light-bg);
  border: var(--footer-hover-text) 1px solid;
}
#footer-max-logo {
  background-color: var(--footer-hover-text);
  color: var(--footer-light-text);
}

.footer__copyright {
  font-size: 1rem;
  color: var(--footer-gray-text);
  text-align: center;
}

/* 
  sections  section general style
  */
.section {
  padding: 5rem 3rem 12rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: max-content;
  margin: 0 auto 7rem auto;
}

.section__description {
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--footer-dark-text);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
}
.section__description > span {
  color: white;
  background-color: var(--footer-hover-text);
  border-radius: 5px;
  padding: 0 4px 0 4px;
}
.section__header {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--footer-dark-text);
}
/* 
  feature section*/
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  margin: 0 5rem;
}

.features__img {
  width: 100%;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 80%;
  font-size: 1.4rem;
  color: var(--footer-dark-text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.features__icon {
  display: flex;
  align-items: center;
  background-color: var(--footer-hover-light);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--footer-dark-text);
}
.features__feature > p {
  font-size: 1.2rem;
}
.test {
  height: 20rem;
  background-image: url("asset/feature1-img-setion-2.jpg");
  background-size: contain;
  background-attachment: fixed;
}
.test1 {
  margin-top: 8rem;
  height: 20rem;
  background-image: url("asset/feature2-img-setion-2.jpg");
  background-size: contain;
  background-attachment: fixed;
}


.food-list-title > h2 {
  width: max-content;
  margin: auto;
}
.food-list-title > p {
  margin: auto;
  text-align: center;
  font-size: 1.6rem;
  width: 80%;
  padding: 1rem 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


/* tabel booking */
#section--3 {
  padding: 4rem 0;
}

.table-booking-descrribtion {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.tabel-booking > img {
  width: 15rem;
  height: max-content;
  margin: 0 1rem;
}

.tabel-booking:nth-child(2) {
  width: 40rem;
  text-justify: distribute-all-lines;
  text-align: center;
  overflow: hidden;
}

#booking-welcome {
  font-size: 1.3rem;
  color: var(--footer-hover-text);
  font-family: cursive;
  width: max-content;
  margin: auto;
  padding: 1rem 1rem 0 1rem;
}
#booking-title {
  font-size: 3rem;
  font-family: monospace;
  padding: 1rem;
  width: max-content;
  margin: auto;
}
#booking-text {
  width: 30rem;
  margin: auto;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
}
#btnbooking-table {
  padding: 1rem;
  background-color: var(--footer-hover-text);
  color: var(--footer-light-text);
}
#btnbooking-table:hover {
  transform: scale(1.01);
  background-color: var(--footer-hover-light);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

/* prallax effect in section booking */
.prallax-bookin-table {
  width: 100%;
  height: 20rem;
  background-image: url("asset/section-3-booking.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 5rem 0;
  overflow: hidden;
}
#booking-parallax-welcome {
  color: var(--footer-light-text);
  font-size: 2rem;
  width: max-content;
  margin: auto;
  padding: 5rem 0 1rem 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#booking-parallax-title {
  color: var(--footer-light-text);
  font-size: 3rem;
  width: max-content;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/*  form of table booking */
.booking-table-form-container {
  justify-content: center;
}
.booking-table-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}
.booking-table-form > input,
select {
  background-color: var(--footer-gray-bg);
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  width: 15rem;
  border-radius: 5px;
}
.booking-table-form-container {
  padding-top: 6rem;
}
.booking-table-form-container > textarea {
  background-color: var(--footer-gray-bg);
  padding: 1rem;
  margin: 2rem 0rem 0 8%;
  width: 74%;
  border-radius: 5px;
  height: 10rem;
}
#btnbooking-table-form {
  padding: 1rem;
  background-color: var(--footer-hover-text);
  color: var(--footer-light-text);
  margin-left: 5%;
  position: relative;
  top: -1rem;
}
#btnbooking-table-form:hover {
  transform: scale(1.01);
  background-color: var(--footer-hover-light);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.footer-container {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 1rem;
}
